<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

In [1]:
%autosave 60

Autosaving every 60 seconds

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [2]:
print ('Welcome to INSAID- International School of AI and Data Science')

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [3]:
# Print “Hello, World!” to console
print ('Hello World')

Hello World

In [4]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
varSharks = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']

# For loop that iterates over sharks list and prints each string item
for eachElement in varSharks:
    print (eachElement)

hammer
white
fish
frilled
bullhead
requiem

### 2.Write a Python Program to Add Two Numbers

In [5]:
# initialise two varaibles
a = 5
b = 5

# Add two numbers
c = a + b

# Display the sum
print ("Sum of {} and {} is {}".format(a,b,c))

Sum of 5 and 5 is 10

### 3.Write a Python Program to Find the product of two numbers

In [6]:
# initialise two varaibles

a = 5
b = 5
# multiply two numbers
c = a * b

# Display the sum
print ("Product of {} and {} is {}".format(a,b,c))

Product of 5 and 5 is 25

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [7]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10

height = 3
base = 10

AreaOfTriangle = (height * base)*1/2
print ("Area of the triangle with base as {} and height as {} is {}".format(base, height, AreaOfTriangle))

Area of the triangle with base as 10 and height as 3 is 15.0

### 5.Python Program to Swap Two Variables

In [8]:
# initialise two varaibles
a = 3
b = 6

temp = b
a = temp
print ("Swapped value of variable 'a' is:", a)
a = 3            # resetting a to its original value.
# create a temporary variable and swap the values

temp = a 
b = temp

print ("Swapped value of variable 'b' is:", b)

Swapped value of variable 'a' is: 6
Swapped value of variable 'b' is: 3

## Section

### 1.Write a python program to print datatype of a varaible

In [9]:
a = 1
print ("Data type of variable 'a' is:", type(a))

b = 2.0
print ("Data type of variable 'b' is:", type(b))


c = 1+2j
print ("Data type of variable 'c' is:", type(c))

Data type of variable 'a' is: <class 'int'>
Data type of variable 'b' is: <class 'float'>
Data type of variable 'c' is: <class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [10]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print ("The item at index 2 is:",a[2])

# Print the first 3 items 
# Following are both methods via manual and using for loop:
print("The first 3 items of list variable 'a' are:", a[0] ,a[1], a[2])
for i in range (0, 3):
    print (a[i])

# Print the last 3 items
# Following are both methods via manual and using for loop:
print ("The first 3 items of list variable 'a' are:", a[-3] ,a[-2], a[-1])
# Start to third last item
for i in range (-3, 0):
    print (a[i])

The item at index 2 is: 35
The first 3 items of list variable 'a' are: 15 20 35
15
20
35
The first 3 items of list variable 'a' are: 30 35 60
30
35
60

### 3.Converting Floats to Integers

In [11]:
b = 125.0
c = 390.8

# Print the Integer values

print ("Integer value of {} is {}".format(b, int(b)))
print ("Integer value of {} is {}".format(c, int(c)))

Integer value of 125.0 is 125
Integer value of 390.8 is 390

### 4.Converting Numbers to Strings

In [12]:
a = 10

print(a, "is of type", type(a))

# Convert the value in a to a string and then print

b = str(a)

print (b, "is of type", type(b))

10 is of type <class 'int'>
10 is of type <class 'str'>

### 5.Converting Strings to Numbers

In [13]:
a = "50"
b = "108"
aInt = int(a)
bInt = int(b)
cInt = aInt - bInt
print ("The difference of {} and {} is: {}".format(aInt, bInt, cInt))
# Find the difference between a and b

The difference of 50 and 108 is: -58

### 6.Converting list to Tuples

In [14]:
myList = ['request', 'source', 'repository', 'branch']
myTuple = tuple(myList)
# Print myList to a Tuple
print ("List: {} converted to a Tuple: {} ".format(myList ,myTuple))

List: ['request', 'source', 'repository', 'branch'] converted to a Tuple: ('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [15]:
myTuple = ('blue', 'red', 'white')
myList = list(myTuple)
# Print myTuple to a List
print ("Tuple: {} converted to a List: {} ".format(myTuple, myList))

Tuple: ('blue', 'red', 'white') converted to a List: ['blue', 'red', 'white']

### 8.converting strings to lists:

In [16]:
myString = 'INSAID'

# Manual method:
myList = [myString[0], myString[1], myString[2], myString[3], myString[4], myString[5]]
print (myList)
# Convert myString to List

# Using for loop:
myList = []
for i in range (0, len(myString)):
    myList.append(myString[i])
print (myList)

['I', 'N', 'S', 'A', 'I', 'D']
['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [17]:
# Try string, float, boolean, list, tuple, dictionary
stringVar = 'Smaragdine Technologies'
floatVar = 99.9999
booleanVar = True
listVar = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
tupleVar = (3, 6, 9, 12, 15, 18, 21, 24, 27, 30)
dictionaryVar = {3:'Three', 6:'Six', 9:'Nine'}
print (type(stringVar), type(floatVar), type(booleanVar), type(listVar), type(tupleVar), type(dictionaryVar))
# print (type(floatVar))

<class 'str'> <class 'float'> <class 'bool'> <class 'list'> <class 'tuple'> <class 'dict'>

## Section

### Print out a string that uses a formatter

In [18]:
# Print "john has 5 cars." using formatter
carsVar = 5
print ("John as {} cars".format(carsVar))

John as 5 cars

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [19]:
open_string = "john likes {}."
stringVar = 'OpenSource'
# Use format method to print the following output "john likes open source."
print (open_string.format(stringVar))

john likes OpenSource.

### Using Formatters with Multiple Placeholders

In [20]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
stringVar1 = 'open-source'
stringVar2 = 'software'
print (new_open_string.format(stringVar1, stringVar2))
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."

john likes open-source software.

In [21]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
stringVar1 = 'open-source'
stringVar2 = 'software'
stringVar3 = '5'
stringVar4 = 'balloons'
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."
print (sammy_string.format(stringVar1, stringVar2, stringVar3, stringVar4))

john loves open-source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [22]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))

john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [23]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {2}, {3}, and {1} {0}!".format("happy", "smiling", "blue", "shark"))

john the shark has a pet pilot fish!
john is a blue, shark, and smiling happy!

### Python Program to Get String Input from User

In [24]:
#Enter any string and print it
stringVar = input("Please enter any string: ")
print ("The entered string is:", stringVar)

Please enter any string: Smaragdine
The entered string is: Smaragdine

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [25]:
grade = 70
if grade > 65:
    print ("The students passed")

The students passed

In [26]:
# Use only if
grade = 60
if grade < 65:
    print ("The students fails")

The students fails

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [27]:
# Use if else
balance = 522
if balance >= 0:
    print ("You have sufficient funds in your account")
if balance < 0:
    print ("You have insufficient funds")

You have sufficient funds in your account

### Using Else if statement

In [28]:
balance = 522
if balance >= 0:
    print ("You have sufficient funds in your account")
else:
    print ("You have insufficient funds")

You have sufficient funds in your account

### Python program to print  Fibonacci series between 0 to 50.

In [29]:
# Initializing first two variables a and b with values '0' and '1'
# Definition of fibonacci series can be found at: https://en.wikipedia.org/wiki/Fibonacci_number
a = 0
b = 1
print ("Fibonacci Series 1 :",a)
print ("Fibonacci Series 2 :", b)
for i in range (48):
    seriesVar = a + b
    a = b
    b = seriesVar
    print ("Fibonacci Series", i+3, ":", b)

Fibonacci Series 1 : 0
Fibonacci Series 2 : 1
Fibonacci Series 3 : 1
Fibonacci Series 4 : 2
Fibonacci Series 5 : 3
Fibonacci Series 6 : 5
Fibonacci Series 7 : 8
Fibonacci Series 8 : 13
Fibonacci Series 9 : 21
Fibonacci Series 10 : 34
Fibonacci Series 11 : 55
Fibonacci Series 12 : 89
Fibonacci Series 13 : 144
Fibonacci Series 14 : 233
Fibonacci Series 15 : 377
Fibonacci Series 16 : 610
Fibonacci Series 17 : 987
Fibonacci Series 18 : 1597
Fibonacci Series 19 : 2584
Fibonacci Series 20 : 4181
Fibonacci Series 21 : 6765
Fibonacci Series 22 : 10946
Fibonacci Series 23 : 17711
Fibonacci Series 24 : 28657
Fibonacci Series 25 : 46368
Fibonacci Series 26 : 75025
Fibonacci Series 27 : 121393
Fibonacci Series 28 : 196418
Fibonacci Series 29 : 317811
Fibonacci Series 30 : 514229
Fibonacci Series 31 : 832040
Fibonacci Series 32 : 1346269
Fibonacci Series 33 : 2178309
Fibonacci Series 34 : 3524578
Fibonacci Series 35 : 5702887
Fibonacci Series 36 : 9227465
Fibonacci Series 37 : 14930352
Fibonacci Series 38 : 24157817
Fibonacci Series 39 : 39088169
Fibonacci Series 40 : 63245986
Fibonacci Series 41 : 102334155
Fibonacci Series 42 : 165580141
Fibonacci Series 43 : 267914296
Fibonacci Series 44 : 433494437
Fibonacci Series 45 : 701408733
Fibonacci Series 46 : 1134903170
Fibonacci Series 47 : 1836311903
Fibonacci Series 48 : 2971215073
Fibonacci Series 49 : 4807526976
Fibonacci Series 50 : 7778742049

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [30]:
# The '%' operator gives the result of a division.
# The logic applied here is: 
# 1. We are calling all numbers between the suggested range (150 - 270) into variable 'i'
# 2. We are making use of '%' operator to find the number that is exactly divided by '7' and '5'
# 3. With help of 'if' condition we are only printing those numbers which are divisible both by '7' and '5'
for i in range (150, 270):
    if i % 7 == 0 and i % 5 == 0:
        print (i)

175
210
245

### Python program to Sum all the items in a list

In [31]:
# Code snippet to calculate sum of values in a list
def sum_list(items):
    """
    Function to calculate sum of all elements in a list
    """
    # Your code here
    TotalValuesInList = 0
    for eachElement in items:
        TotalValuesInList += eachElement
    return TotalValuesInList # Your variable
print("Sum of all elements in the list is:", sum_list([20,12,20,22]))

Sum of all elements in the list is: 74

### Python program to Remove duplicates from a list.

In [32]:
# Set stores unique values only, hence converting 'list' to a 'set' will allow us remove duplicate values.
# sort function is not allowed with 'set', hence we can once again convert into a 'list' and then apply sort to it.
a = [10,20,30,40,50,60,70,40,80,50,40]
b = set(a)
print (b)
c = list(b)
c.sort()
print (c)

{70, 40, 10, 80, 50, 20, 60, 30}
[10, 20, 30, 40, 50, 60, 70, 80]

### Python program to Get the largest number from a list.

In [33]:
# The simpler way would be to return the 
def max_num_in_list( list ):
    # Your code
    list.sort()
    maxValue = list[len(list) - 1]
    return maxValue # Maximum value
print(max_num_in_list([1, 12, 28, 0]))

28

### Concatenation of Tuples.

In [34]:
# This code shippet will concatenate two tupples. 
# We can directly print them by mentioning 'tuple1 + tuple2' in the print statement
# For a clear understanding I made use of a third variable and print the results after concatenation

# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = tuple1 + tuple2
print (tuple3, type(tuple3))
# Concatenating above two
print("Result after concatenating two tuples is:", tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'code') <class 'tuple'>
Result after concatenating two tuples is: (0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [35]:
# In this case pass on the first two tuples as elements to 'tuple3'

# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1, tuple2) # Your code goes here
print(tuple3)

((0, 1, 2, 3), ('python', 'code'))

### Write a Python program to add an item in a tuple.

In [36]:
# Create a tuple & print
tuple1 = (3, 6, 9, 12, 15, 18, 21, 24, 27, 30)
print (tuple1)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

# Adding items in a specific index
tuple1 = tuple1[:10] + (33,)
print (tuple1)

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30)
(3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33)

### Write a Python program to remove an item from a tuple.

In [37]:
# Create a tuple and print it
tuple1 = (3, 6, 9, 12, 15, 18, 21, 24, 27, 30)
print (tuple1)

# Find a way to remove an item of the tuple (Hint: Use other data types)
myList = list(tuple1)
myList.remove(30)
print (myList)
tuple1 = tuple(myList)
print(tuple1)

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30)
[3, 6, 9, 12, 15, 18, 21, 24, 27]
(3, 6, 9, 12, 15, 18, 21, 24, 27)

### Python Program to Check if a given key already exists in a dictionary.

In [38]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
    if x in d:            # Your code goes here
        print ("Following key is present")
    else:
        print ("Following key is not present")
    return print(x) # Your observation
is_key_present(5)
is_key_present(9)

Following key is present
5
Following key is not present
9

### Write a Python script to merge two Python dictionaries.

In [39]:
# With help of 'update()' function, we can add two dictionary items
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d1.update(d2)        # Your code
print ("Resultant dictionary: ", d1)

Resultant dictionary:  {'a': 100, 'b': 200, 'x': 300, 'y': 200}

### Write a Python function to find the Max of three numbers.

In [51]:
def max_of_two(x, y):
    max(x, y)    # Your code here
    return print("Maximum of two values: {}, {} is: {}".format(x, y, max(x, y)))    # Your answer
def max_of_three(x, y, z):
    max(x, y, z)    # Your code here use max_of_two
    return print("Maximum of three values: {}, {}, {} is: {}".format(x, y, z, max(x, y, z)))    # Your answer
print(max_of_two(9.99, 9.9))
print(max_of_three(13, 26, -5))

Maximum of two values: 9.99, 9.9 is: 9.99
None
Maximum of three values: 13, 26, -5 is: 26
None

### Write a Python program to reverse a string.

In [52]:
def string_reverse(str1):
    myList = list(str1)    # Your code goes here
    print (myList)
    myList.
    return # Your answer
print(string_reverse('INSAID'))

['I', 'N', 'S', 'A', 'I', 'D']
None

### Write a Python function to calculate the factorial of a number

In [43]:
def factorial(n):
    # Your code here
    return # The answer
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 2
None

### Write a Python function to sum all the numbers in a list.

In [44]:
def sum(numbers):
    # Your code goes here
    return # Your Answer
print(sum((8, 2, 3, 0, 7)))

None

### Write a Python function to check whether a number is in a given range.

In [45]:
def test_range(n):
    # Your code
    return # Your answer 
test_range(5)

### Find the value of pi using math module.

In [46]:
# import statement example
# to import standard module math

import math

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [47]:
def file_read(fname):
    # Your code goes in here
    return

file_read('test.txt')

### Write a Python program to read a file line by line and store it into a list.

In [48]:
def file_read(fname):
        # Your code goes in here
        return

file_read('test.txt')

### A python program to create user-defined exception.

In [49]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

TypeError: __str__ returned non-string (type NoneType)

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [ ]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    
    return # The value


discriminant()

In [ ]:
print('Hello World')

In [ ]:
print('What am I typing are you able to see?')